@import "../styles/variables.scss";

.container {
    min-height: 400px;
    min-width: 350px;
    background-color: red;
    position: relative;
    margin-bottom: 2rem;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image_container {
    position: absolute;
    inset: 0;
    background-size: cover;
    filter: grayscale(80%) brightness(70%);
}

.title {
    color: white;
    font-size: 2em;
    width: 100%;
    z-index: 2;

    & p {
        text-align: center;
    }
}

.tab2 {
    display: flex;
}
