@import "../styles/variables.scss";

.container {
    margin: auto;
    margin-top: 3rem;
    max-width: $max-width;
}

.title {
    margin-bottom: 1rem;
    font-size: $home-page-subtitle-size;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 2rem;
}
