@import "../styles/_variables.scss";

.section {
    margin-top: 3rem;
    padding: 2rem 2rem;
    background-color: $clr-bg;
}

.wrapper {
    max-width: $max-width;
    margin: auto;
}

.container {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 2rem;
    background-color: $clr-bg;
    position: relative;
}

.title {
    font-size: $home-page-subtitle-size;
}

